* {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

input,
select,
textarea {
  outline: 0;
  border: 1px solid #000;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

table {
  border-collapse: collapse;
}

body {
  line-height: 1;
  font-family: "Nanum Gothic", sans-serif;
  height: 200vh;
}

.clear_fix::after {
  content: "";
  display: block;
  clear: both;
}

#indexcont #header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  line-height: 50px;
  padding: 30px 40px;
  box-sizing: border-box;
  transition: all 0.3s;
  z-index: 10;
  background: #fff;
}
#indexcont #header .left {
  display: flex;
}
#indexcont #header .left .logo img {
  height: 50px;
}
#indexcont #header .left .gnb .menulist {
  display: flex;
}
#indexcont #header .left .gnb .menulist li {
  font-size: 20px;
  margin-left: 30px;
  font-weight: 700;
}
#indexcont #header .left .gnb .menulist li a {
  color: #000;
  transition: all 0.3s;
}
#indexcont #header .left .gnb .menulist li a:hover {
  color: #7a7a7a;
}
#indexcont #header .right {
  display: flex;
}
#indexcont #header .right .icons a {
  font-size: 28px;
  color: #7a7a7a;
}
#indexcont #header .right .icons a i {
  transition: all 0.3s;
  margin: 0 10px;
}
#indexcont #header .right .icons a:hover {
  color: #000;
}
#indexcont #header .right .icons a:hover i {
  scale: 1.2;
}
#indexcont #header .right .btns a {
  width: 120px;
  height: 40px;
  border: 2px solid #7a7a7a;
  border-radius: 30px;
  color: #000;
  font-size: 16px;
  padding: 6px;
  margin: 4px;
  transition: all 0.3s;
}
#indexcont #header .right .btns a:hover {
  color: #f05026;
  border-color: #f05026;
}
#indexcont .video {
  text-align: center;
  margin-top: 100px;
}