* {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

input,
select,
textarea {
  outline: 0;
  border: 1px solid #000;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

table {
  border-collapse: collapse;
}

body {
  line-height: 1;
  font-family: "Nanum Gothic", sans-serif;
  height: 200vh;
  color: #555;
}

.clear_fix::after {
  content: "";
  display: block;
  clear: both;
}

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  line-height: 50px;
  padding: 30px 40px;
  box-sizing: border-box;
  transition: all 0.3s;
  z-index: 10;
  background: #fff;
  opacity: 0.9;
}
#header .left {
  display: flex;
}
#header .left .logo img {
  height: 50px;
}
#header .left .gnb .menulist {
  display: flex;
}
#header .left .gnb .menulist li {
  font-size: 20px;
  margin-left: 30px;
  font-weight: 700;
}
#header .left .gnb .menulist li a {
  color: #000;
  transition: all 0.3s;
}
#header .left .gnb .menulist li a:hover {
  color: #555;
}
#header .right {
  display: flex;
}
#header .right .icons a {
  font-size: 28px;
  color: #555;
}
#header .right .icons a i {
  transition: all 0.3s;
  margin: 0 10px;
}
#header .right .icons a:hover {
  color: #000;
}
#header .right .icons a:hover i {
  scale: 1.2;
}
#header .right .btns a {
  width: 120px;
  height: 40px;
  border: 2px solid #555;
  border-radius: 30px;
  color: #000;
  font-size: 16px;
  padding: 6px;
  margin: 4px;
  transition: all 0.3s;
}
#header .right .btns a:hover {
  color: #f05026;
  border-color: #f05026;
}

#footer {
  padding: 80px 40px;
  text-align: center;
}
#footer .copyright p {
  line-height: 2;
  color: #000;
}
#footer .copyright p span::after {
  content: "|";
  position: relative;
  left: -3px;
  color: #a7a7a7;
}
#footer .copyright p span:last-of-type::after {
  display: none;
}

#indexwrapper .video {
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 90%;
}
#indexwrapper #cont1 {
  margin-top: 200px;
}
#indexwrapper #cont1 .contents {
  width: 90%;
  margin: 0 auto;
}
#indexwrapper #cont1 .contents h2 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 24px;
  color: #000;
}
#indexwrapper #cont1 .contents h2 span {
  color: #e87200;
}
#indexwrapper #cont1 .contents p {
  margin-bottom: 24px;
}
#indexwrapper #cont1 .contents p span {
  font-weight: 800;
}
#indexwrapper #cont1 .cardscont {
  width: 92%;
  margin: 0 auto;
  display: flex;
}
#indexwrapper #cont1 .cardscont .cards {
  background-color: pink;
  width: 31.333333%;
  margin: 1%;
  height: 600px;
  position: relative;
}
#indexwrapper #cont1 .cardscont .cards .context {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#indexwrapper #cont1 .cardscont .cards .context h2 {
  font-size: 48px;
  margin-bottom: 24px;
  font-weight: 800;
}
#indexwrapper #cont1 .cardscont .cards .context p {
  font-weight: 700;
}
#indexwrapper #cont1 .cardscont .cards.card1 {
  background-image: url("/img/cont1img1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  opacity: 0.8;
  transition: all 0.5s;
}
#indexwrapper #cont1 .cardscont .cards.card1:hover {
  opacity: 1;
}
#indexwrapper #cont1 .cardscont .cards.card2 {
  background-image: url("/img/cont1img2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  opacity: 0.8;
  transition: all 0.5s;
}
#indexwrapper #cont1 .cardscont .cards.card2:hover {
  opacity: 1;
}
#indexwrapper #cont1 .cardscont .cards.card3 {
  background-image: url("/img/cont1img3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  opacity: 0.8;
  transition: all 0.5s;
}
#indexwrapper #cont1 .cardscont .cards.card3:hover {
  opacity: 1;
}
#indexwrapper #cont2 {
  background-color: #f7f7f7;
  padding: 100px 0;
}
#indexwrapper #cont2 .contents {
  width: 90%;
  margin: 0 auto;
}
#indexwrapper #cont2 .contents h2 {
  font-size: 48px;
  font-weight: 800;
  padding-bottom: 100px;
  color: #000;
}
#indexwrapper #cont2 .contents h2 span {
  color: #e87200;
}
#indexwrapper #cont2 .videocont {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}
#indexwrapper #cont2 .videocont .column1 {
  margin-right: 1%;
  width: 50%;
  height: 640px;
}
#indexwrapper #cont2 .videocont .column1 .contextlarge {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#indexwrapper #cont2 .videocont .column1 .contextlarge h2 {
  line-height: 1.5;
}
#indexwrapper #cont2 .videocont .column2 {
  margin-right: 1%;
  width: 24%;
  height: 640px;
  text-align: center;
}
#indexwrapper #cont2 .videocont .column2 .cell {
  height: 50%;
}
#indexwrapper #cont2 .videocont .column2 .cell .contextssmall {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#indexwrapper #cont2 .videocont .column2 .cell .contextssmall h2 {
  font-size: 20px;
  line-height: 1.5;
}
#indexwrapper #cont2 .videocont .column3 {
  width: 24%;
  height: 640px;
  text-align: center;
}
#indexwrapper #cont2 .videocont .column3 .cell {
  height: 50%;
}
#indexwrapper #cont2 .videocont .column3 .cell .contextssmall {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#indexwrapper #cont2 .videocont .column3 .cell .contextssmall h2 {
  font-size: 20px;
  line-height: 1.5;
}
#indexwrapper #cont3 {
  text-align: center;
}
#indexwrapper #cont3 .titleimg {
  margin: 100px auto;
}
#indexwrapper #cont3 .instacont {
  width: 92%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
#indexwrapper #cont3 .instacont a {
  margin: 0.5%;
  width: 19%;
  height: 19%;
}
#indexwrapper #cont3 .instacont a img {
  width: 100%;
  height: 100%;
}

#storecont .cont1 {
  margin-top: 100px;
  height: 400px;
  background-image: url("/img/storebg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
#storecont .cont1 h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 48px;
  font-weight: 800;
}
#storecont .title {
  font-size: 48px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-weight: 800;
}
#storecont .list-wrap {
  width: 1200px;
  margin: 0 auto;
}
#storecont .list-wrap .list {
  display: flex;
  line-height: 60px;
  border-bottom: 1px solid #555;
  box-sizing: border-box;
  padding: 0px 20px;
  cursor: pointer;
}
#storecont .list-wrap .list .line:nth-of-type(1) {
  width: 150px;
}
#storecont .list-wrap .list .line:nth-of-type(2) {
  width: 150px;
}
#storecont .list-wrap .list .line:nth-of-type(3) {
  width: 500px;
}
#storecont .list-wrap .list .line:nth-of-type(4) {
  width: 150px;
}
#storecont .list-wrap .list .line:nth-of-type(5) {
  width: 100px;
}
#storecont .list-wrap .list .line:nth-of-type(6) {
  width: 150px;
}
#storecont .list-wrap .list:first-of-type {
  background-color: #f7f7f7;
  border-top: 2px solid #555;
  font-weight: 700;
}
#storecont .paging {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  line-height: 44px;
  font-size: 14px;
}
#storecont .paging li {
  margin: 0 15px;
  font-size: 14px;
}
#storecont .paging li a {
  border: 2px solid #7f7f7f;
  color: #7f7f7f;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
  width: 40px;
  height: 40px;
  font-size: 14px;
}
#storecont .paging li.highlight a {
  color: #ff6d0d;
  border: 2px solid #ff6d0d;
}
#storecont .modalBg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#storecont .modalBg.on {
  left: 0;
}
#storecont .modalWindow {
  max-width: 1000px;
  width: 95%;
  background-color: #fff;
  position: fixed;
  left: -100%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#storecont .modalWindow .modal_title {
  display: flex;
  justify-content: space-between;
  line-height: 70px;
  background-color: #ff6d0d;
}
#storecont .modalWindow .modal_title span {
  position: relative;
  left: 30px;
  font-weight: 800;
  color: #fff;
}
#storecont .modalWindow .modal_title .modal_close img {
  position: relative;
  width: 15px;
  right: 30px;
}
#storecont .modalWindow .info_wrap {
  line-height: 60px;
  color: #ff6d0d;
  font-weight: 800;
}
#storecont .modalWindow .info_wrap p {
  margin-left: 30px;
}
#storecont .modalWindow .info_wrap p span {
  position: relative;
  margin-left: 50px;
  font-weight: 400;
  color: #555;
}
#storecont .modalWindow.on {
  left: 50%;
}

#eventsbg {
  margin-top: 100px;
  height: 400px;
  background-image: url("/img/communitybg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
#eventsbg h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 48px;
  font-weight: 800;
}

#eventscont {
  max-width: 1200px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-top: 100px;
}
#eventscont .card {
  width: 350px;
  height: 400px;
  border: 1px solid #a7a7a7;
  margin: 1%;
  overflow: hidden;
}
#eventscont .card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-bottom: 1px solid #a7a7a7;
  box-sizing: border-box;
}
#eventscont .card p {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  margin: 0 30px;
}

#eventsdetail {
  margin: 0 auto;
  margin-top: 100px;
  width: 90%;
  max-width: 900px;
}
#eventsdetail .title {
  text-align: center;
  margin-bottom: 60px;
  color: #000;
}
#eventsdetail .info {
  line-height: 2;
  margin-bottom: 20px;
}
#eventsdetail .detailcont img {
  width: 100%;
}
#eventsdetail .detailcont p {
  margin-top: 60px;
  line-height: 2;
}
#eventsdetail .share {
  display: flex;
  justify-content: space-between;
  line-height: 80px;
  border-top: 2px solid #000;
  border-bottom: 1px solid #a7a7a7;
  box-sizing: border-box;
  margin-bottom: 60px;
  padding: 0 30px;
}
#eventsdetail .share h2 {
  color: #000;
}
#eventsdetail .share .iconscont a {
  color: #555;
  font-size: 24px;
}
#eventsdetail .share .iconscont a i {
  margin: 0 10px;
  transition: all 0.3s;
}
#eventsdetail .share .iconscont a i:hover {
  scale: 1.2;
  color: #ff6d0d;
}

#menusbg {
  margin-top: 100px;
  height: 400px;
  background-image: url("/img/menusbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
#menusbg h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 48px;
  font-weight: 800;
}

#menuscont {
  max-width: 1200px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-top: 100px;
}

.card {
  width: 350px;
  height: 400px;
  border: 1px solid #a7a7a7;
  margin: 1%;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-bottom: 1px solid #a7a7a7;
  box-sizing: border-box;
}
.card p:last-of-type {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  margin: 0 30px;
}
.card a {
  color: #ff6d0d;
  font-weight: 800;
}

#detailcont {
  display: flex;
  width: 95%;
  max-width: 1000px;
  padding: 50px;
  box-sizing: border-box;
  position: fixed;
  left: -100%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
#detailcont .modal_close {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}
#detailcont .modal_close img {
  width: 100%;
}
#detailcont > img {
  width: 40%;
  margin-right: 20px;
  border: 1px solid #a7a7a7;
}
#detailcont .context {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
}
#detailcont .context .content::after {
  width: 100%;
  content: "";
  display: block;
  background-color: #a7a7a7;
  width: 100%;
  height: 1px;
  margin-top: 50px;
}
#detailcont .context .detailcard {
  display: flex;
  flex-direction: row;
}
#detailcont .context .detailcard img {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

#detailcont.on {
  left: 50%;
}

#noticecont .cont1 {
  margin-top: 100px;
  height: 400px;
  background-image: url("/img/communitybg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
#noticecont .cont1 h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 48px;
  font-weight: 800;
}
#noticecont .title {
  font-size: 48px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-weight: 800;
}
#noticecont .total {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: bold;
}
#noticecont .list-wrap {
  width: 1200px;
  margin: 0 auto;
}
#noticecont .list-wrap .list {
  display: flex;
  line-height: 60px;
  border-bottom: 1px solid #555;
  box-sizing: border-box;
  padding: 0px 20px;
  font-weight: 700;
  cursor: pointer;
}
#noticecont .list-wrap .list .line a {
  color: #555;
}
#noticecont .list-wrap .list .line:nth-of-type(1) {
  width: 50px;
}
#noticecont .list-wrap .list .line:nth-of-type(2) {
  width: 900px;
}
#noticecont .list-wrap .list .line:nth-of-type(3) {
  width: 100px;
}
#noticecont .list-wrap .list .line:nth-of-type(4) {
  width: 100px;
}
#noticecont .list-wrap .list .line:nth-of-type(5) {
  width: 50px;
}
#noticecont .list-wrap .list:first-of-type {
  background-color: #f7f7f7;
  border-top: 2px solid #555;
  font-weight: 700;
}
#noticecont .paging {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  line-height: 44px;
  font-size: 14px;
}
#noticecont .paging li {
  margin: 0 15px;
  font-size: 14px;
}
#noticecont .paging li a {
  border: 2px solid #7f7f7f;
  color: #7f7f7f;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
  width: 40px;
  height: 40px;
  font-size: 14px;
}
#noticecont .paging li.highlight a {
  color: #ff6d0d;
  border: 2px solid #ff6d0d;
}
#noticecont .searchform {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#noticecont .searchform .searchform1 input {
  line-height: 40px;
  text-indent: 10px;
  border: 1px solid #555;
}
#noticecont .searchform .searchform1 button {
  line-height: 40px;
  border: 1px solid #555;
  padding: 0 10px;
  background-color: transparent;
  font-family: "Nanum Gothic", sans-serif;
}
#noticecont .searchform .searchform1 a {
  display: block;
  color: #555;
  margin-top: 30px;
  text-align: center;
}

.menuBg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.menuBg.on {
  left: 0;
}

#qnalistcont {
  padding-top: 100px;
}
#qnalistcont .brd_center {
  width: 800px;
  margin: 0 auto;
  text-align: left;
  line-height: 40px;
}
#qnalistcont .brd_center th {
  border-right: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  text-indent: 10px;
  border-collapse: collapse;
}
#qnalistcont .brd_center td {
  text-indent: 10px;
  border: 1px solid #f2f2f2;
}
#qnalistcont .brd_center td a {
  color: #555;
}
#qnalistcont .brd_center .num {
  width: 50px;
}
#qnalistcont .brd_center .author {
  width: 150px;
}
#qnalistcont .brd_center .title {
  width: 400px;
}
#qnalistcont .brd_center .date {
  width: 200px;
}
#qnalistcont .brd_center > a {
  color: #555;
  border: 1px solid #555;
  line-height: 120px;
  padding: 10px;
  transition: all 0.3s;
}
#qnalistcont .brd_center > a:hover {
  color: #ff6d0d;
  border: 1px solid #ff6d0d;
}