<div id="footer">
  <div class="copyright">
    <p>
      <span>(주)얌샘 서울시 영등포구 영등포로 347(한독타워) 9,10F </span
      ><span>대표이사: 김은광 </span><span>사업자등록번호 : 107-86-81841 </span>
    </p>
    <p>
      <span>Tel : 1644-3378 </span><span>Fax : 02-3667-3379 </span
      ><span>Email : admin@yumsem.com</span>
    </p>
    <p>ⓒ 2021 YUMSEM, All Rights Reserved.</p>
  </div>
</div>
